     

 .form{
    background-color: #f4f4f4;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 4px solid transparent;
    margin-top: 25px;
    margin-bottom: 25px;
}

.contenedor {
    background-image: url(../img/register_bar.jpg);
    width: 100%;
    height: auto;
    margin: 0;
    justify-content: center;
    display: flex;

}

.h2-subtitulo{
    text-align: center;
    
}

.div-flex {
    display: inline-block;
}

.form-label{
    color: black;
}